.body{
	height:100%;
}
.mw800 {
	max-width: 800px;
}

.txt14 {
	font-size: 14pt;
}

.txt16 {
	font-size: 16pt;
}

.clsbold {
	font-weight: bold;
}

.inblock {
	display: inline-block;
}

.w200 {
	width: 200px;
}
.h50 {
	height: 50px;
}
.h100 {
	height: 100px;
}
.h30 {
	height: 30px;
}

.mgnh10 {
	margin: 5px 10px;
}

.pdr10 {
	padding-right: 10px;
}
.pdh10 {
	padding:0px 5px;
}

.clslbl {
	font-size: 14pt;
	color: gray;
	line-height: 200%;
}
.imgbox{
	display:inline-block;
	width: 105px;
	height: 105px;
}
.imgbox2{
	display:inline-block;
	width: 250px;
	height: 250px;
}
.imgsrc{
	width:100px;
	height:100px;
}
.box{
	width:1000px;
	height:400px;
}
.imgsrc2{
	width:200px;
	height:200px;
}
.mt10{
	margin-top:10px;
}
.mt100{
	margin-top:100px;
}